body *{
    font-family: 'Newsreader', serif;
    font-weight: 500;
    font-size: 15px;
}

/* HEADING */

.heading_title{
    text-align: center;
    font-size: 49px;
    font-weight: 800;
    font-family: fangsong;
    margin: 15px 0px;
}

/* DATE */

.date_container{
    height: 45px;
    width: 100%;
    font-size: 5px;
    background-color: rgba(3,174,210,255)
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.year, .t_pages{
    margin: 0px;
}


/* SIDE CONTAINER */

.side_container{
    display: grid;
    grid-template-columns:  1fr;
    justify-items: center;
    justify-content: center;
}

.sc_sub{
    background-color: #d3dce3;
    height: 230px;
    width: 300px;
    margin: 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* SIDE PANEL */

.sc_side_panel{
    height: 225px;
    width: 60px;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    border-style: outset;
    background-color: rgb(157, 179, 219);
}

.sc_side_panel_top{
    background-color: #6F8FB5;
}

.sc_side_panel_img{
    height: 32px;
    width: 44px;
    margin-left: 10px;
}

.sc_side_panel_num{
    text-align: center;
    font-size: 26px;
}

.sc_sp_down{
    display: flex;
    align-items: center;
}

.sc_sp_d_text{
    writing-mode: vertical-lr;
    font-size: 19px;
    background-color: #aabbcf;
}

/* SIDE CONTAINER => MAIN PANEL */

.sc_main_panel{
    height: 230px;
    width: 216px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}


.sc_main_panel_img{
    height: 94px;
    width: 216px;
}

.sc_main_panel_detail{
    font-weight:500;
    font-size: 20px;
    text-align: center;
}

/* BAR CODE */

.sc_sub_barcode{
    display: none;
}

/* MAIN CONTAINER */

.main_container *{
    font-weight: 400;
    font-size: 15px;
}

.tn_1st_para_container, .tn_2nd_para_contaner, .bottom_news{
    margin-top: 100px;
}


.bold{
    font-weight:900;
    font-size: 28px;
    margin: 0px;
    text-align: center;
}

.tn_1st_para, .bn_c_content{
    margin-top: 50px;
}

/* MAIN CONTAINER => TOP NEWS => SECOND PARA */

.tn_2nd_para_container_img_container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.tn_2nd_pc_ic_img{
    height: 250px;
    width: 304px;
}

.sub_heading{
    font-weight:700;
    font-size: 18px;
}

/* MAIN CONTAINER => TOP NEWS => SECOND PARA */

.bn_c_img_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bn_c_img_c_img{
    height: 250px;
    width: 304px;
}


.bn_c_img_c_detail{
    font-weight: 600;
}


@media (min-width: 768px){
    .side_container{
        grid-template-columns: 1fr 1fr;
    }

    .heading_title{
        font-size: 80px;
    }
    
    /* DATE */
    
    .date_container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1024px){
    body{
        margin: auto 50px;
    }

    .heading_title{
        font-size: 99px;
    }

/* SIDE CONTAINER */

    .side_container{
        grid-template-columns: 1fr 1fr 1fr;
    }

/* TOP NEWS 1ST PARA */

    .tn_1st_para_content{
        margin-right: 20px;
    }

/* TOP NEWS 2ND PARA */

    .tn_2nd_pc_ic_img{
        margin-top: 50px;
        width: 355px;
    }

/* BOTTOM NEWS */

    .bn_c_content{
        display: flex;
        align-items: flex-start;
    }

    .bn_c_content_2, .bn_c_content_3, .bn_c_content_4{
        margin: 0px 10px;
    }
    
    li{
        margin: 20px 100px;
    }


}

@media (min-width: 1585px){

    body{
        margin: 50px 80px;
    }

    .heading_title{
        font-size: 144px;
    }
    
    .tn_1st_para_container{
        border: black solid;
        background-color: rgba(253,244,235,255);
        padding: 10px;
    }

    .tn_1st_para_container, .tn_2nd_para_contaner{
        margin: 20px;
    }

    .side_container{
        grid-template-columns: 1fr;
    }
    
    .whole_container{
        display: flex;
    }

    #tn_1st_para_heading_id{
        font-weight: 900;
        font-size: 46px;
        text-align: center;
    }
    

    .tn_1st_para_heading, #tn_2nd_para_heading_content{
        margin: 20px;
    }

    .tn_1st_para{
        display: flex;
    }

    .tn_2nd_para_heading{
        display:flex;
        align-items: stretch;
    }

    .tn_2nd_para_container{
        margin: 10px;
        display: flex;
    }

    .top_news{
        display: flex;
    }

    .sub_tn_2{
        display: flex;
        flex-direction: row;
    }

    .tn_2nd_pc_ic_img{
        margin: 0px;
        width: 289px;
        height: 169px;
        object-fit: cover;
    }

    .tn_2nd_para_container_img_container{
        display: flex;
    flex-direction: row;
    align-items: center;
    }
    

    #tn_2nd_para_heading_content{
        font-size: 28px;
    font-weight: 800;
    }

    .bn_container{
        display: flex;
        flex-direction: row;
    }


    .bn_c_img_c_img{
        height: 390px;
        width: 619px;
    }

    .bn_c_img_c_detail{
        width: 100px;
        margin-left: 20px;
    }

    .bn_c_img_container{
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }

    .sub_tn_2_content{
        width: 250px;
    }

    li{
        margin: 20px 10px;
    }

    .bottom_news{
        margin: 0px;
    }

    .sc_sub_barcode{
        display: block;
    }

    #bn__heading_id{
        font-size: 80px;
        margin: 20px;
    }
    
}

@media (min-width: 2200px){

    body{
        margin: 50px 400px;
    }

    .heading_title{
        font-size: 150px;
    }
}